* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    /* colors  */
    --Orange: hsl(26, 100%, 55%);
    --Paleorange: hsl(25, 100%, 94%);
    --Grey: #33333379;
    --White: #fff;
    --LightGrayishblue: hsl(223, 64%, 98%);


    /* margin */
    --MG: 2em 8em;
}


body {
    background-color: #f5f5f5;

}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    border-bottom: 2px solid grey;
    margin: var(--MG);
    
}


.nav-links {
    color: #333;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul {
    display: flex;
    width: 50%;
    list-style: none;

}

.nav-links ul a {
    text-decoration: none;
    color: var(--Grey);
    padding: .5rem 1rem;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    display: inline-block;
}




.nav-links h2 {
    font-size: 16px;
   -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    color: var(--Grey);
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin-right: 1em;
    transition: color 0.3s ease-in-out;
}

.nav-links h2:hover {
    color: var(--Orange);
}



.nav-links ul a::after {
    content: '';
    position: absolute;
    bottom: -9px; 
    left: 0;
    width: 100%;
    height: 3px; 
    background-color: var(--Orange);
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform 0.3s ease-in-out; 
}

.nav-links ul a:hover::after {
    transform: scaleX(1); 
}

.cart-profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    margin-left: 2em;
}

.cart-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px var(--Orange) solid;
    margin-left: 1em;
}

.nav-btn {
    background: var(--Grey);
    padding: 2px 25px;
    border-radius: 22px;
    margin-right: 2em;
    /* visibility: hidden; */
}

nav {
    position: relative;
}

nav .cart-body {
    position: absolute;
    top: 51px;  
    right: 0;
    width: 300px;
    height: 200px;
    box-shadow: 2px 2px 5px var(--Grey);
    border-radius: 10px;
    display: none;

}

nav .cart-profile {
    padding: .4em;
}


nav .cart-profile  .cart-head {
    border-bottom: 2px solid var(--Grey);
    margin: .7em .5em;
}

nav .cart-profile .cart-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav .cart-profile .cart-content .cart-text{
    font-size: 10px;
    color: #000000b4;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: var(--MG);
    gap: 1em;
}

.img-container {
    margin-top: 2em;
    width: 50%;
}

.img-container img {
    width: 330px;
    height: 320px;
    border-radius: 15px;
}

.images-list {
    width: 80%;
    display: flex;
    gap: 1em;
}

.images-list img {
    height: 60px;
    width: 70px;
    margin-top: .7em;
}

.content {
    padding: 3em 4em;
    height: 400px;
    margin-right: 15em;
   
}

.content .head {
    font-size: 20px;
    font-weight: 800;
    color: var(--Grey);
    
}

.content h2 {
    margin: .8em 0;
    font-size: 2.5em;
}

.content .para {
    font-size: 16px;
    color: #555555;
    margin-bottom: 1em;
}


.content .price .buy {
    color: #000;
    font-weight: bolder;
    font-size: 1.8em;
    margin-bottom: .5em;
}

.content .price .off span {
    background: black;
    color: #fff;
    border-radius: 5px;
    padding: .1em;
}

.content .cancel {
    text-decoration: line-through;
    margin-bottom: .5em;
    color: #000000b4;
}

.content .orders input {
    width: 50px;
    height: 30px;
    background: var(--LightGrayishblue);
    border: none;
    text-align: center;
}



.content .orders .add-cart {
    background: var(--Orange);
    color: var(--White);
    padding: 1em 3em;
    border-radius: 10px;
}
.break {
    color: var(--Orange);
}

.content .orders .orderBtn {
    background: var(--LightGrayishblue);
    color: var(--Orange);
    height: 30px;
    width: 40px;
    border: none;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.content .orders .input-group {
    border: 2px solid lightblue;
    border-radius: 12px;
    display: inline-block;
} 
   

 @media only screen and (min-width: 600px) {
    .nav-btn {
        display: none;
    }
} 

@media only screen and (max-width: 600px) {

    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        box-sizing: border-box;
    }


   .nav-links h2 {
       display: none;
   }

    .nav-links ul {
        margin-left: 1em;
        padding: 1em;
        position: fixed;
        top: 0;
        left: -10000px;
        height: 100vh;
        width: 50%;
        background: #fff;
        flex-direction: column;
        padding-top: 2em;
        gap: 2em;
        box-shadow: rgba(0, 0, 0, 50);
        transition: left .4s ease-in-out;
        z-index: 10;
    }

    .nav-links ul.active {
        left: -2px;
    }

    .nav-links ul a {
        font-size: 1rem;
        color: #000;
    }

    

    .nav-btn {
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
        color: whitesmoke;
        border: 2px solid var(--Orange);
        background: var(--Orange);
    }

    .nav-links {
        margin-bottom: 0%;

    }

    .hero {
        display: grid;
        width:  100%;
    }

    .hero .img-container  {
        display: block;
    }


    .content {
       padding: .1em;
       text-align: center;
       margin: 0;
    }

    .content h2 {
        font-size: 1.5em;
        margin: .9em;
        padding: 0 .5em;
    }
    .orders {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .orders .input-group input {
        width: 50%;
    }
}

